/* importing font from google */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* universal selector */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", 'Times New Roman', Times;
    list-style: none;
    text-decoration: none;
}

/* body overflowing */
body {
    margin-top: -10px;

}

/* header */

header {
    height: 10em;
    background: linear-gradient(90deg, rgba(250,217,179,1) 35%, rgba(199,144,238,1) 100%);
}

header h2 {
    font-size: 2em;
    margin: 10px;
    margin-left: 2em;
}

nav {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header li {
    display: inline-block;
    height: 20px;
    width: 80px;
    margin: 5px;
    background-color: aliceblue;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

header a {
    color: black;
}

/* profile image */

header img {
    height: 150px;
    width: 125px;
    position: absolute;
    top: 5em;
    left: 2.5em;
}

/* empty div height */

#emptyDiv {
    height: 5em;
}

/* main */

main {
    width: 90%;
    margin: 0 auto;
}

/* about */
#about {
    height: 5em;
    
}

#about p {
    width: 24em;
    font-size: 20px;
}


/* projects */



#projects {
    margin: 10px auto;
}

#projects h3 {
    height: 3em;
    
}

#projects section {
    display: flex;
    justify-content: flex-end;
}

.project-div {
    width: 45%;
}

.project-div img {
    height: 250;
    width: 400px !important;
}


.project-div p {
    width: 400px;
    margin: 10px;
}

.project-div span {
    font-size: 12px;
}

/* contact */

